
<%- include("partials/header.ejs") %>

<%- include ("partials/main_nav.ejs") %> 

<div style="display: flex; justify-content: center; margin-bottom: 100px;">
<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">ABOUT ME</h5>
      <h6 class="card-subtitle mb-2 text-muted">DHRUVIL PATEL</h6>
      <div>
        <!-- <img style="height: 150px; width: 150px" src="../public/Assets/images/image1.jpeg" alt="My Image"/> -->
      </div>
      <p class="card-text">Hii, My name is Dhruvil Patel , I am from India. I Have done my Bachelor's in Information Technology 
        from GTU.I have one year of experience in working as a backend developer (Django) in a Product based company which provides
        chatbot and voice bot. I was working as Junior Python Developer and my tasks were to create new API's ,Models, integrate models,
        third party proprietary SDKs into our environment.Apart fropm this i was also involved in data scraping tasks. 

      </p>

      <div>Any Oppurtunities for me?? Feel free to take a look at my resume below</div>
        <!-- <a
        href="../assets/resume_1636691612927.pdf"
        target="_blank"
        download
        >Dhruvil's resume</a> -->
    </div>
  </div>
</div>
<%- include ("partials/bottom_nav.ejs") %>

<%- include ("partials/footer.ejs") %>