
<%- include("partials/header.ejs") %>

<%- include ("partials/main_nav.ejs") %> 


<div class="card" >
    <div class="card-header">
      Data Scraping
    </div>
    <div class="card-body">
      <h5 class="card-title">Zomato.com</h5>
      <p class="card-text">I got a project from Fiver.com for data scraping. in which the requirement of client was to get restaurants
        name, address, email id, phone number from metro cities of India.Client wanted data for marketing and selling of his own products. 
      </p>
    </div>
  </div>

  <div class="card" >
    <div class="card-header">
      Chatbot
    </div>
    <div class="card-body">
      <h5 class="card-title">College website</h5>
      <p class="card-text">In my final year group project , we made chatbot embedded in our college website which answers the general FAQs 
        of students. We used Machine Learning model to train the model on data and the accuracy was almost 90%.Moreover, due to this project I was able to get job 
        in AI based company.
      </p>
    </div>
  </div>

<%- include ("partials/bottom_nav.ejs") %>

<%- include ("partials/footer.ejs") %>