
<%- include("partials/header.ejs") %>

<%- include ("partials/main_nav.ejs") %> 

<form action="/home" method="get">
<div class="column sm-2">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="John">
  </div>
<div class="column sm-2">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@google.com">
  </div>

  <div class="column sm-2">
    <label for="exampleFormControlInput1" class="form-label">Phone No</label>
    <input type="number" class="form-control" id="exampleFormControlTextarea2" placeholder="+1 234567891">
  </div>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-dark" href="/home">Submit</button>

</form>

<%- include ("partials/bottom_nav.ejs") %>

<%- include ("partials/footer.ejs") %>