
<%- include("partials/header.ejs") %>

<%- include ("partials/main_nav.ejs") %> 

<div style="display: flex; justify-content: center; margin-bottom: 100px;">
<ul class="list-group">
    <li class="list-group-item">Data Analysis</li>
    <li class="list-group-item">Data Scraping</li>
    <li class="list-group-item">Web Scraping</li>
    <li class="list-group-item">Web Development</li>
    <li class="list-group-item">API Development</li>
  </ul>

</div>

<%- include ("partials/bottom_nav.ejs") %>

<%- include ("partials/footer.ejs") %>